@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F3EFE6;
}

header {
    border-top: 6px solid #5E6F3A;
    height: 130px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-logo img {
    width: 180px;
    height: auto;
    cursor: pointer;
}

/* MOBILE MENU (desliza da direita) */
.nav-list {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #F3EFE6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    z-index: 10;
}

.nav-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.nav-list ul .nav-item a {
    color: #374122;
    text-decoration: none;
    font-weight: 600;
    display: inline-block; 
    transition: ease 0.5s;
}

.nav-list ul .nav-item a:hover {
    transform: translateY(-3px);
    color: #3741229c;
}

/* quando clicar abre */
.nav-list.ativo {
    left: 0;
}

/* menu hamburguer visível no mobile */
#menu-icon img {
    width: 28px;
    cursor: pointer;
    z-index: 11;
    position: relative;
}

/* banner main*/
.banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-main img {
    width: 100%;
    height: auto;
}

.botao-preparar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.botao-preparar a {
    background-color: #CF6F24;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}


/* PCS e Notebooks */
@media (min-width: 992px) {

    .nav-list {
        position: static;
        height: auto;
        background: transparent;
        margin-left: auto;
        justify-content: flex-end;
        padding: 0 30px;
    }

    .nav-list ul {
        flex-direction: row;
        gap: 30px;
    }

    #menu-icon {
        display: none;
    }

    .banner-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-main img {
        width: 80%;
        height: auto;
    }

}